body{
  background-color: rgb(17, 13, 13);
}
header{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.logo{
  font-size: 40px;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  color: #ccc;
}
 nav a{
  color: rgba(255, 123, 0, 0.788);
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}
h1{
  font-size: 50px;
  font-weight: 900;
  color: rgba(134, 131, 131, 0.651);
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
p{
  color: white;
  margin-left: auto;
  margin-right: auto;
}
header .logo a{
  text-decoration: none;
  font-size: 40px;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  color: #ccc;
}
span p{
  font-size: 22px;
  word-spacing: 10px;
  margin-bottom: 30px;
  color: rgb(219, 145, 8);
}
main{
  text-align: center;
  margin-top: 120px;  
}
button{
  width: 150px;
  height: 40px;
  font-size: 15px;
  margin-top: 20px;
  background-color: rgba(255, 123, 0, 0.788);
  border-radius: 18px;
  border: 2px solid #ccc;
  cursor: pointer;
}